<a href="https://colab.research.google.com/github/HawonCP3/Class2022Spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

변수(variables)
1. 숫자(numbers): int(정수), float(실수)
2. 문자(str): '  ' 또는 "  "으로 기입
3. 리스트(list): 숫자 또는 문자 여러 개를 담은 리스트, ['a','b','c', ... , 23]
4. 딕셔너리(dict): 일종의 사전 형식(순서 x), 데이터베이스 정리에 용이함. {"a"="app"}: "a"는 access할 수 있는 키, "app"은 내용

In [43]:
a=1; print(type(a))

<class 'int'>

In [44]:
print(type(a))

<class 'int'>

print(type(a)) : 변수 a의 type 출력

In [45]:
b=1.6 ; print(type(b))

<class 'float'>

In [51]:
c='123456'; print(type(c)); print(c[4])

<class 'str'>
5

`a='123 ... s ... n'`일 때

`print(a[s]): indexing`

처음(0)에서 끝(n-1)자리 중 s번째 자리의 값을 출력함

In [47]:
a=[1,2,3,4]; print(type(a)); print(a[3])

<class 'list'>
4

In [48]:
d=[1,'a','b',6];print(type(d));print(d[1])

<class 'list'>
a

In [49]:
d[1:3]

['a', 'b']

In [50]:
d[:-1]

[1, 'a', 'b']

`d=[1,2,3, ... ,n]`일 때

`d[1:3]`

두 번째(1) 자리에서 세 번째(3-1) 자리까지의 값을 리스트로 출력

`d[:]`

처음(0)서 끝 자리(n)까지의 값을 리스트로 출력

`d[:-1]`

처음(0)에서 끝 전 자리(n-1)까지의 값을 리스트로 출력

`[:]`의 기본값: 처음(0) - 끝(n)

In [55]:
a[1:-1]

[2, 3]

In [56]:
a[1]=0

In [58]:
print(a)

[1, 0, 3, 4]

In [59]:
a=(1,2,3)

In [61]:
a[1]=0

TypeError: ignored

In [62]:
print(a[0]+a[2])

4

list와 비슷한 tuple: `a=(1.2.3)`

차이점: tuple은 내부의 변수를 바꿀 수 없음, 내부의 변수를 더한 값을 출력할 수는 있음

In [65]:
a =	{"a": "banana", "b": "mandarine", "c": 2022}
print(type(a))
print(a["a"])

<class 'dict'>
banana